.card {
  border: 5px solid #000;
  display: flex;
  flex-direction: column;
  border-radius: 5%;
  background-color: #000;
  cursor: pointer;
  margin: 0.75rem
}

.card:hover {
  transform: scale(1.2);
}

.card-img-container {
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  overflow: hidden;
  width: fit-content;
}

.card-img {
  width: 8rem;
}

.card-name {
  color: #fff;
  text-align: center;
  margin: 2px;
  font-size: 1rem;
}
