header {
  height: 7rem;
  padding-top: 1rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
}

.score {
  font-size: 2rem;
  display: flex;
  justify-content: space-evenly;
}
